<div class="wrapper p-4">

  <ng-container *ngFor="let msgDetail of msgBoxData">
    <app-message-box [textContent]="msgDetail.text" [content]="msgDetail.content"></app-message-box>
  </ng-container>
  <button class="d-flex  mt-2" mat-raised-button color="primary" (click)="addBox()">Add</button>
  <div>
    Also Refered NGX-quill
    <a
      href="https://stackblitz.com/edit/ngx-quill-angular-xthwhn?file=src%2Fapp%2Fapp.component.ts,angular.json,package.json,src%2Fapp%2Fapp.component.html,src%2Fapp%2Fapp.module.ts">https://stackblitz.com/edit/ngx-quill-angular-xthwhn</a>
  </div>
</div>